@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+HU:wght@100..400&display=swap');
@import "tailwindcss";

*{
    font-family: 'Outfit', sans-serif;
}

.active{
    background-color: #ebf0ff;
    border-color: #a086c5;
}